*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #666666;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

a {
    text-decoration: none;
}

ul {
	list-style-type: none;
    display: table;
    margin: 0;
    padding: 0;
}

li {
    display: table-cell;
    vertical-align: middle;
    margin: 3%;
    padding: 3%;
}

h1 {
	font-size: 3.3vw;
	font-weight: 200;
	color: white; 
}

h2 {
	font-size: 1.5vw;
	font-weight: 800;
	line-height: 1em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: white;
	background-color: orange;
	padding: 8%;
}

p {
    font-size: 1.5vw;
    padding: 5%;
    margin: 0;
}

button {
    color: white;
    font-size: 1.5vw;
    font-weight: 800;
    background-color: orange;
    padding: 8%;
    border: none;
    width: 100%;
    padding-right: 4%;
}

.navbar {
    background-color: #333;
    height: 50%;
    overflow: hidden;
}

.navbar ul {
    height: 100%;
    width: 100%;
}

.contact-button {
    vertical-align: text-top;
    padding: 0;
    padding-top: 5%;
}

#contactBtn {
    box-shadow: 0.5em 0.5em 0.3em black;
}

.my-photo {
    height: 30vh;
    width: 30vh;
	border-radius: 100%;
    background-size: cover;
    background-position: top;
    background-image: url('../images/my_photo.jpg');
}

.project-boxes {
    width: 100%;
    padding: 0 2%;
}

.project-boxes li {
    width: 30%;
}

.project-box {
    width: 100%;
    height: 60vh;
    box-shadow: 1em 1em 0.5em #888888;
}

.contact-info {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.contact-info-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
}

.contact-info-content ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

.contact-info-li {
    width: 30%;
    height: auto;
    margin: auto;
}

.contact-info-content a {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.contact-info-content p {
    font-size: 3vh;
}

.logo {
    height: 10vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-bottom: 3%;
}

.github-logo {
    background-image: url('../images/GitHub_Logo.png');
}

.linkedin-logo {
    background-image: url('../images/LinkedIn_Logo.png');
}

.email-logo {
    background-image: url('../images/Email_Logo.png');
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* =Responsive Styles
-------------------------------------------------------------- */
/* Phone Portrait */
@media (max-width: 320px) {
}

/* Landscape Phone */
@media all and (max-width: 400px) {

    .project-box {
        max-height: 90vw;
    }

    .contact-info-content li {
        margin-top: 10%;
    }

    .contact-info-li {
        display: block;
        padding: 0;
        margin-left: 0;
        margin: auto;
    }
}

/* Tablet Portrait */
@media all and (min-width: 700px) {
}

@media all and (max-width: 900px) {
    .my-photo {
        margin: auto;
    }

    li:not(.contact-info-li) {
        display: block;
        margin: 0 auto;
        width: 90%;
    }

    .project-boxes li {
        width: 90%;
        margin-bottom: 10%;
    }

    .project-box {
        min-height: 80vw;
        max-height: 100vw;
    }

    li.contact-button {
        width: 100%;
    }

    h1 {
        font-size: 5vw;
        margin: 0;
    }

    h2 {
        font-size: 4vw;
    }

    p {
        font-size: 3vw;
    }

    button {
        font-size: 5vw;
        font-weight: 300;
        padding: 2%;
    }
}

@media all and (max-width: 1100px) {
/*    .contact {
        display: none;
    }*/
}
