*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #666666;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

a {
    text-decoration: none;
}

ul {
	list-style-type: none;
    display: table;
    margin: 0;
}

li {
    display: table-cell;
    vertical-align: middle;
    margin: 2%;
    padding: 2%;
}

h1 {
	font-size: 3.5vw;
	font-weight: 200;
	line-height: 2em;
	color: white; 
}

h2 {
	font-size: 1.5vw;
	font-weight: 800;
	line-height: 1em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: white;
	background-color: orange;
	padding: 8%;
}

p {
    font-size: 1.5vw;
    padding: 5%;
}

.navbar {
    background-color: #333;
    height: 50%;
    overflow: hidden;
}

.navbar ul {
    height: 100%;
    width: 100%;
}

.contact {
    vertical-align: text-top;
    padding: 0;
}

.my-photo {
    height: 30vh;
    width: 30vh;
	border-radius: 100%;
    background-size: cover;
    background-position: top;
    background-image: url('../images/my_photo.jpg');
}

.project-boxes {
    width: 100%;
    padding: 0 2%;
    margin-top: 3%;
}

.project-boxes li {
    width: 30%;
}

.project-box {
    width: 100%;
    box-shadow: 1em 1em 0.5em #888888;
}

/* =Responsive Styles
-------------------------------------------------------------- */
/* Phone Portrait */
@media (max-width: 320px) {
}

/* Landscape Phone */
@media all and (max-width: 400px) {
    .navbar ul {
        padding: 0;
    }

    .navbar li {
        margin: auto;
        width: 90%;
    }

    .my-photo {
        margin: auto;
    }
}

/* Tablet Portrait */
@media all and (min-width: 700px) {
}

@media all and (max-width: 900px) {
    li {
        display: block;
        padding: 0;
        margin-left: 0;
        margin: auto;
    }

    .navbar ul {
        margin-top: 5%;
    }

    .project-boxes li {
        width: 90%;
        margin-bottom: 10%
    }
    h1 {
        font-size: 5vw;
    }
    h2 {
        font-size: 4vw;
    }
    p {
        font-size: 3vw;
    }
}

@media all and (max-width: 1100px) {
    .contact {
        display: none;
    }
}
